<div class="container">
  <nav [ngClass]="{ open: (navOpen$ | async) }">
    <button (click)="toggleNav()" class="toggle">
      <i class="fas fa-arrow-left"></i>
    </button>

    <div (click)="closeNav()" class="logo" routerLink="/">Show<span>Flix</span></div>

    <div class="links">
      <a (click)="closeNav()" routerLink="/" class="search">
        <i class="fa fa-search"></i>
        <span>Search</span>
      </a>
      <a class="watchlist">
        <i class="far fa-heart"></i>
        <span>Watchlist</span>
      </a>
    </div>
  </nav>
  <main>
    <div class="mobile_">
      <button (click)="toggleNav()"><i class="fas fa-bars"></i></button>
      <div class="logo" routerLink="/">Show<span>Flix</span></div>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>

<app-movie-details *ngIf="showMovieDetailsPage"></app-movie-details>
